html{
    height: 100%;
}

body{
    font-family: sans-serif;
    
    margin: 0;
    padding: 0;
    
    height: 100%;
}

.body-home{
    background-image: url(images/images.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-meals{
    background-image: url(images/background-02-port.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*================= HEADER ==============*/

.header{
    background-color: darkslateblue;
    
    width: 100%;
    height: 50px;
    top: 0;
    
    position: fixed;
    overflow: hidden;
    text-align: center;
}

.header i {
    float: left;
    padding: 17px 0px 0px 17px;
    color: white;
}

.header img {
    width: 250px;
    padding-top: 14px;
    padding-right: 25px;
}
/*================= HOME ================*/

#home-logo-img{
    width: 200px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

#home-logo-text{
    width: 55px;
    display: block;
    margin: auto;
    padding: 10px;
}
.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid darkblue;
    
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

/*================= MEALS PAGE ==============*/

#meals{
    padding-top: 50px;
}
.meals-list a{
    text-decoration: none;
}

.meals-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: #1a1a1a;
    padding: 10px;
}

.meals-list-item i{
    float: right;
    color: #1a1a1a;
    padding-right: 20px;
}
.meals-list-item p {
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*================= RECIPE PAGE ==============*/

#meal {
    padding-top: 50px;
    
}


.meal-details img{
    width: 50%;
}

.meal-details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
}

.extras label {
    line-height: 25px;
    margin-left: 10px;
}


/*================= RESPONSIVE LAYOUT ==============*/

@media only screen and (min-width: 600px) {
    #meals {
        width: 80%;
        margin: auto;
    }
    
    #meal {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1000px) {
    #meals {
        width: 60%;
        margin: auto;
    }
    
    #meal {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1500px) {
    #meals {
        width: 40%;
        margin: auto;
    }
    
    #meal {
        width: 40%;
        margin: auto;
    }
}

@media only screen and (min-width: 720px) {
    .body-home {
        background-image: url(images/images.jpg);
    }
    .body-meals {
        background-image: url(images/background-02-port.png);
    }
}

/*========================= BUTTON ======================*/

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    margin-top: 100px;
}

.button{
border: 1px solid green;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
}
/*.button1{
    color:cadetblue;
}*/
.button1:hover{
    color: darkgreen;
}
/*.button::before{
    content: "";
    position: absolute;
    left: o;
    width: 100%;
    height: 0%;
    background: green;
    z-index: -1;
    transition: 0.8s;
}*/
.button1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.button1:hover::before{
    height: 180%;
}*/